.container {
  background: white;
  padding-bottom: 20px;
}
.navbar-nav {
  padding: 0 0 20px 10px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.1);
}
.navbar-brand {
  font-size: 1.75rem;
}
.remove-btn {
  margin-right: 0.5rem;
  opacity: 0;
  transition: 0.5s ease;
}
.before-remove {
  opacity: 0;
  transition: 0.5s ease;
}
.remove-transition {
  opacity: 1;
}
.btn {
  min-width: 40px;
  height: 40px;
}
.btn-success {
  min-width: 300px;
}
.custom-control {
  margin-left: 20px;
}
.custom-control-label::before, .custom-control-label::after  {
  display: block;
  width: 40px;
  height: 40px;
  top: 0;
  left: -48px;
}
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 250ms ease-in;
}
.list-group-item {
  display: flex;
  line-height: 0;
  cursor: pointer;
}
.list-group-item:hover {
  background: #f4f4f4;
}

/* Form */
.form {
  flex-basis: 1;
  animation-name: inputSwipe;
  animation-duration: 0.3s;
}
.list-group {
  overflow: hidden;
  position: relative;
}
@keyframes inputSwipe {
  from {transform: translateX(200px); opacity: 0};
  to {transform: translateX(0px); opacity: 1}
}

.finished{
  text-decoration: line-through;
  color: #dc3545;
}

.animated-draggable-item {
  animation-name: dragSwipe;
  animation-duration: 0.2s;
}
@keyframes dragSwipe {
  from {transform: translateX(-30px); opacity: 0};
  to {transform: translateX(0px); opacity: 1}
}

.not-animated {
  transition: none;
}

